#popup.cloth_select.hide
  .popup_name
    Выбор ткани
  .content
    %ul#myTab.nav.nav-tabs
      - if @textures.any?
        - @textures.each_with_index do |t, i|
          %li{:class => i == 0 ? "active" : ""}
            %a{:href => "#k#{t.id}"}= t.name
    .tab-content
      - if @textures.any?
        - @textures.each_with_index do |t, j|
          .tab-pane{:id => "k#{t.id}", :class => j == 0 ? "active" : ""}
            %ul.thumbnails
              - if t.kinds.any?
                - t.kinds.each do |k|
                  %li.span2
                    %a.thumbnail.choose_texture{:href => "javascript:;", :data => {:id => k.id}}
                      = image_tag k.photo.url(:m)
                      %span= k.name
  .popup_footer
    %button.btn.close_textures
      Закрыть
    -#%button.btn.btn-info
      Применить
    %a.btn.btn-warning.choose_texture{:href => "javascript:;", :data => {:id => 0}}
      %span= "Очистить"
  .close_pop.close_textures