.row.shopping_cart_content
  .span10.forms_block_le
    .tottal_text
      Общая сумма заказа:
    .order_list
      - if @ord.baskets.any?
        - @ord.baskets.includes(:product).each do |p|
          - product = p.product
          .one_cart
            .row
              %h3.span10
                %span
                  = product.name
                .icon_box
                  = form_tag "", :method => "post", :style => "margin: 0", :id => "remove_basket_#{p.id}" do
                    %input{:type => "hidden", :name => "order_remove_basket", :value => p.id}
                  %i.remove_cart.icon-trash.pull-right{:onclick => "$('#remove_basket_#{p.id}').submit();"}
            %ul.thumbnails.row
              %li.span2
                - if product.photos.exists?
                  - image = product.photos.first.file
                  %a.thumbnail{:href => image.url, :target => "_blank"}
                    = image_tag image.url(:s)
              %li.span4
                - if p.kind_main.to_i > 0
                  %ul.thumbnails.row
                    - kind_main = Kind.find(p.kind_main)
                    %li.span1
                      %a.thumbnail{:href => "javascript:;"}
                        = image_tag kind_main.photo.url(:s)
                    %li
                      %p
                        Основной -
                      %p
                        %span
                          = kind_main.texture.name
                      %p
                        = kind_main.name

                - if p.kind_opt.to_i > 0
                  %ul.thumbnails.row
                    - kind_opt = Kind.find(p.kind_opt)
                    %li.span1
                      %a.thumbnail{:href => "#"}
                        = image_tag kind_opt.photo.url(:s)
                    %li
                      %p
                        Компаньон -
                      %p
                        %span
                          = kind_opt.texture.name
                      %p
                        = kind_opt.name

              %li.span1
                = form_tag "", :method => "post", :style => "margin:0 0 10px;" do
                  %input{:type => "hidden", :name => "order_add_item", :value => product.id}
                  %button.btn.btn-block.item-plus{:type => "submit", :data => {:id => product.id}} +
                %input.span1.item-count{:disabled => true, :type => "text", :value => p.cnt}
                = form_tag "", :method => "post", :style => "margin:0 0 10px;" do
                  %input{:type => "hidden", :name => "order_remove_item", :value => product.id}
                  %button.btn.btn-block.item-minus{:data => {:id => product.id}} -
              -#%li.span1
                %h3
                  %b= p.cnt


              %li.span3
                %h3.item-price
                  %b= p.price.to_i
                  р

      .one_cart
        .row
          %h3.span10
            %span Добавить товар
        = form_tag "", :method => "post" do
          %ul.thumbnails.row
            %li.span3
              %select{:name => "order_add_item"}
                %option{:value => 0} Выберите товар
                - Company.includes(:products).each do |c|
                  %optgroup{:label => c.name}
                    - c.products.each do |p|
                      %option{:value => p.id}= p.name
            %li.span3
              %button.btn{:type => "submit"} Добавить

      .order_form.validate
        = form_tag "/admin/orders/#{@ord.id}", :method => "POST", :class => "form-horizontal", :id => "form-order-go" do
          %input{:type => "hidden", :name => "order_id", :value => @ord.id}
          %fieldset
            .control-group.section
              %label.control-label{:for => "name"} Ваше имя
              .controls
                %input#username.span6{:name => "order[name]", :placeholder => "", :type => "text", :value => @ord.name}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "phone"} Телефон
              .controls
                .input-prepend
                  %span.add-on +7
                  %input#phone.span6{:name => "order[phone]", :placeholder => "", :type => "text", :value => @ord.phone}
                %span.alert.alert-error.hide.call-order-error-name Пример: 555 444 33 22
            .control-group.section
              %label.control-label{:for => "city"} Город
              .controls
                %input#username.span6{:name => "order[city]", :placeholder => "", :type => "text", :value => @ord.city}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "street"} Улица
              .controls
                %input#username.span6{:name => "order[street]", :placeholder => "", :type => "text", :value => @ord.street}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "house"} Дом
              .controls
                %input#username.span2{:name => "order[house]", :placeholder => "", :type => "text", :value => @ord.house}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "floor"} Этаж
              .controls
                %input#username.span2{:name => "order[floor]", :placeholder => "", :type => "text", :value => @ord.floor}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "room"} Квартира/Офис
              .controls
                %input#username.span2{:name => "order[room]", :placeholder => "", :type => "text", :value => @ord.room}
                %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
            .control-group.section
              %label.control-label{:for => "text"} Комментарии
              .controls
                %textarea#address.span6{:name => "order[text]"}= @ord.text

  .span2.forms_block_ri
    .tottal.green
      %b= @ord.sum.to_i
      %span
        р
    -#%a.btn.btn-success.btn-block.btn-large.order_issue_btn{:href => "/basket/order"} Оформить
    .btn.btn-success.btn-block.btn-large.order_btn{:onclick => "$('#form-order-go').submit()"} Сохранить
    %a.btn.btn-block.back_btn{:href => "/admin"} Назад
    -#.btn.btn-small.btn-link.btn-block.remove_all Очистить корзину