- title = @settings["site_name"].to_s
- if @settings["index_title"].to_s != ""
  - title += " #{@settings["divider"].to_s} #{@settings["index_title"].to_s}"
- content_for :title, title
- content_for :description, @settings[:index_description]
- content_for :keywords, @settings[:index_keywords]

.row
  .span12
    #slider.slider_init.show_slide
      .slider_container.viewport
        .slides.overview
          - if @specials
            - @specials.each do |s|
              %a.slide_el{:href => "/specials/#{s.id}"}
                = image_tag s.banner.url(:main)
      %a.next.slide_left{:href => "javascript:;"}
        &rarr;
      %a.prev.slide_right{:href => "javascript:;"}
        &larr;
  /.span3.mini_rek
  /  %a{:href => "#"}
  /    %img{:alt => "", :src => "http://wbpreview.com/previews/WB0R3R06X/img/ad.png"}/

.row.services
  .span4.effect3
    .service
      %div
        %h4
          %img{:alt => "", :src => "/assets/icontexto_green_03_es.png"}
            Высокое
            %strong качество

        %p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
        %p.center
          %button.btn.btn-small Подробнее...
  .span4
    .service
      %div
        %h4
          %img{:alt => "", :src => "/assets/green_triskele.png"}
            Бесплатная
            %strong доставка
        %p
          %strong $1000
          Lorem Ipsum - это текст-"рыба", часто используемый
        %p.center
          %button.btn.btn-small Подробнее...
  .span4.effect4
    .service
      %div
        %h4
          %img{:alt => "", :src => "/assets/telephone_green.png"}
            Ответим на любые
            %strong вопросы
        %p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
        %p.center
          %button.btn.btn-small Подробнее...


.row

  - if @categories
    - @categories.each do |cat|
      .span3
        .block_content
          .products_list.text_block
            %h4.title
              %span.pull-left
                %i.icon-book
                %strong= cat.name
            %a{:href => "/catalog/#{cat.id}", :title => cat.name}
              %p.obj_img
                - if !cat.photo.blank?
                  = image_tag cat.photo.url(:m)

-#.block_content.container.slider_init.colored
  .products_list
    .row
      .span12
        %h4.title
          %span.pull-left
            %i.icon-star
            %strong Распродажа
        .slide_left
          %span.button.icon-chevron-left.icon-white
        .slide_right
          %span.button.icon-chevron-right.icon-white
        .carousel.slide
          .carousel-inner
            .active.item.viewport
              %ul.thumbnails.listing-products.overview
                - if @sales
                  - @sales.each do |s|
                    %li.span3.slide_el
                      .product-box
                        %a.img_box{:href => "/product/#{s.id}"}
                          - if !s.photos.blank?
                            = image_tag s.photos.first.file.url(:m)
                        %a{:href => "/product/#{s.id}"}
                        %h4= s.name
                        %p.price
                          Цена:
                          %span.red= s.price
                        .btn.btn-success.add_to_shopping_cart В корзину

.block_content.container.slider_init
  .products_list
    .row
      .span12
        %h4.title
          %span.pull-left
            %i.icon-plus-sign
            %strong Новые
            товары
        .slide_left
          %span.button.icon-chevron-left.icon-white
        .slide_right
          %span.button.icon-chevron-right.icon-white
        .carousel.slide
          .carousel-inner
            .active.item.viewport
              %ul.thumbnails.listing-products.overview
                - if @news
                  - @news.each do |n|
                    %li.span3.slide_el
                      .product-box
                        %a.img_box{:href => "/catalog/#{n.category_id}/#{n.id}"}
                          - if !n.photos.blank?
                            = image_tag n.photos.first.file.url(:m)
                        %a{:href => "/catalog/#{n.category_id}/#{n.id}"}
                        %h4= n.name
                        .tag.tag-red
                          от
                          %span= n.price
                          p.
                        .btn.btn-success.add_to_shopping_cart{:data => {:id => n.id}} В корзину
