- if @order.baskets.any?
  .row.shopping_cart_content
    .span10.forms_block_le
      .tottal_text
        Общая сумма заказа:
      .order_list
        - if @order.baskets.any?
          - @order.baskets.includes(:product).each do |p|
            - product = p.product
            .one_cart
              .row
                %h3.span10
                  %span
                    = product.name
                  .icon_box
                    %i.remove_cart.icon-trash.pull-right{:data => {:id => p.id}}
              %ul.thumbnails.row
                %li.span2
                  - if product.photos.exists?
                    - image = product.photos.first.file
                    %a.thumbnail{:href => image.url, :target => "_blank"}
                      = image_tag image.url(:s)
                %li.span4
                  - if p.kind_main.to_i > 0
                    %ul.thumbnails.row
                      - kind_main = Kind.find(p.kind_main)
                      %li.span1
                        %a.thumbnail{:href => "javascript:;"}
                          = image_tag kind_main.photo.url(:s)
                      %li
                        %p
                          Основной -
                        %p
                          %span
                            = kind_main.texture.name
                        %p
                          = kind_main.name

                  - if p.kind_opt.to_i > 0
                    %ul.thumbnails.row
                      - kind_opt = Kind.find(p.kind_opt)
                      %li.span1
                        %a.thumbnail{:href => "#"}
                          = image_tag kind_opt.photo.url(:s)
                      %li
                        %p
                          Компаньон -
                        %p
                          %span
                            = kind_opt.texture.name
                        %p
                          = kind_opt.name

                %li.span1
                  %button.btn.btn-block.item-plus{:data => {:id => product.id}}
                    \+
                  %input.span1.item-count{:type => "text", :value => p.cnt}
                  %button.btn.btn-block.item-minus{:data => {:id => product.id}}
                    \-


                %li.span3
                  %h3.item-price
                    %b= (product.price * p.cnt.to_i).round
                    р
    .span2.forms_block_ri
      .tottal.green
        %b= @order.sum.to_i
        %span
          р
      -#%a.btn.btn-success.btn-block.btn-large.order_issue_btn{:href => "/basket/order"} Оформить
      %a.btn.btn-success.btn-block.btn-large.order_btn{:href => "/basket/order"} Заказать
      .btn.btn-block.back_btn.hide Назад
      .btn.btn-small.btn-link.btn-block.remove_all Очистить корзину

- else
  .row.shopping_cart_content
    .span10.forms_block_le
      .order_none
        %h1.empty_h1
          %center Ваша корзина пуста, пожалуйста, добавте товары которые вам понравятся.
          %br
          %center
            %a.green.text_underline{:href =>'/catalog'} Перейти в каталог!