-#.row.filter_top
  .span12
    #main-menu.navbar
      .navbar-inner
        .container
          .nav-collapse
            %ul.nav.pull-left
              %li.dropdown
                %a.dropdown-toggle{:href => "/catalog"}
                  Показать
                  %span
                    все
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} корпусную
                  %li
                    %a{:href => "javascript:;"} из камня
                  %li
                    %a{:href => "javascript:;"} живые
              %li.divider-vertical
              %li.width_300.pull-left
                %span.nna
                  Сортировать по цене:
                .layout-slider
                  %input#slider_cell{:name => "price", :type => "slider", :value => "1000;150000"}/
.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => "/"}
          %i.icon-home
        %span.divider /
      %li
        %a{:href => "/catalog"}
          Каталог мебели
        %span.divider /
      - if @category
        %li.active= @category.name

.row.catalog_list_nth
  - props = {}
  - @products.map {|p| p.text.split(/\r\n/).map {|r| r.split(/:/) } }.each do |prop|
    - prop.each do |s|
      - props[s[0]] ||= []
      - props[s[0]] << s[1]

  =# debug props

  - if !props.blank?
    .span3
      - props.each do |k, p|
        .block_content
          %ul.nav.nav-list.margin_clear
            %li.nav-header
              #{k}:
            - p.each do |v|
              %li
                %a.filter{:href => "javascript:;", :title => v}
                  %label.checkbox
                    %input.filter{:type => "checkbox", :title => v}/
                    = v


  .span9#products{:data => {:category => @category.id}}
    .row
      - if @products
        - @products.each do |p|
          .span3
            .block_content
              .products_list.text_block

                %h4.title
                  %span.pull-left
                    %i.icon-book
                    %strong= p.name
                %a{:href => "/catalog/#{p.category_id}/#{p.id}", :title => p.name}
                  %p.obj_img
                    %span.sale
                    -#%img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
                    - if p.photos.exists?
                      = image_tag p.photos.first.file.url(:m)
                  %p.obj_info_mini
                    .tag.tag-red
                      от
                      = p.price.round
                      р.
                  - if p.text
                    - prms = p.text.split "\r\n"
                    - prms.each_with_index do |prm, k|
                      - if k < 2
                        - kv = prm.split ":"
                        - if !kv[0].blank? and !kv[1].blank?
                          %p.obj_info_mini
                            %span= kv[0].strip
                            %span= kv[1].strip
                .btn-group
                  %a.btn{:href => "/catalog/#{p.category_id}/#{p.id}", :title => p.name} Подробнее
                  .btn.btn-success.add_to_shopping_cart{:data => {:id => p.id}} В корзину

