.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => "/"}
          %i.icon-home
        %span.divider /
      %li
        %a{:href => "/catalog/index"}
          Каталог мебели
        %span.divider /
      %li.active= @product.category ? @product.category.name : ""
.row
  .span5
    %h2.clear-margin-top
      = @product.name
    .tag.tag-big
      от #{@product.price.to_i} p.

      -#%span.label.label-important
        По акции
      -#%span.label.label-warning
        Распродажа
      -#%span.label.label-info
        Новый


    - if @product.text
      - prms = @product.text.split "\r\n"
      %table.table.table-hover
        %tbody
          - prms.each do |prm|
            - kv = prm.split ":"
            - if !kv[0].blank? and !kv[1].blank?
              %tr
                %td
                  %strong
                    = kv[0].strip
                %td= kv[1].strip

    -#%table.table.table-hover
      %thead
        %tr
          %th.collspan3
            Дополнительно:
      %tbody
        %tr
          %td
            Зеркало
          %td
            1500 р
          %td
            .btn.btn-link + добавить
        %tr
          %td
            Дополнительная подушка
          %td
            500 р
          %td
            .btn.btn-link + добавить


  .span7

    - link = @product.product_textures.where(:as_img => 1).first
    - if link.present?
      %button.btn.btn-success.btn-block.buy_img
        #{link.price.to_i} р.
        Заказать как на картинке
      %span.label.label-info.btn-block Ткань #{link.texture.name}
    %ul.thumbnails
      - if @product.photos.exists?
        - @product.photos.each_with_index do |f, k|
          - if k == 0
            %li.span7
              %a.thumbnail{:href => "javascript:;"}
                %img{:alt => "", :src => f.file.url(:x), :width => '100%'}/
          - else
            %li.span2
              %a.thumbnail{:href => "javascript:;"}
                %img{:alt => "", :src => f.file.url(:m), :width => '100%'}/

//.row
//  %button.btn.btn-success.btn-large.span12{:href => 'javascript:;'} В корзину

.row.clear-color-line
  .span12.line
    %span
      Категории тканей
.row

  .tabbable.span8.tabs-left
    %ul.nav.nav-tabs#myTab
      - if @product.textures.exists?
        - @product.textures.each_with_index do |t, i|
          %li{:class => i == 0 ? "active" : ""}
            %a{"data-toggle" => "tab", :href => "#tab#{t.id}"}
              = t.name
              %br/
              = t.product_textures.where(:product_id => @product.id).first.price
              p
    .tab-content
      - if @product.textures.exists?
        - @product.textures.each_with_index do |t, i|
          .tab-pane.cloth_select{:class => i == 0 ? "active" : "", :id => "#tab#{t.id}"}
            %ul.thumbnails.row
              - if t.kinds.exists?
                - t.kinds.each do |k|
                  %li.span2
                    %a.thumbnail{:href => 'javascript:;', 'data-id' => t.id, 'data-action' => 'cloth_action', 'data-name' => 'name1', 'data-category' => '7', 'data-cost' => '12500'}
                      - if k.photo
                        = image_tag k.photo.url(:m)
                    %span
                      Название ткани
  .span4.cloth_cont_box
    .cloth_cont
      .cloth_box.zero_b
        %p Выберите основную ткань
      .cloth_box.fr_b
        %a{:href => "javascript:;"}
          %img{:alt => "google plus", :src => "/assets/gplus.png", :width => '50', :height => '50'}/
        %p Основная ткань (название)
        %p Класс 1 (+1500р.)
      .cloth_box.sec_b
        %a{:href => "javascript:;"}
          %img{:alt => "google plus", :src => "/assets/gplus.png", :width => '50', :height => '50'}/
        %p Название
        %p Класс 2 ( +1500р. )
      %button.btn.btn-mini.btn-block.clear_cloth Очистить ткани
      %form
        %input{:type => "hidden", :value => "", :name => 'first_cloth'}
        %input{:type => "hidden", :value => "", :name => 'second_cloth'}
        %input.btn.btn-success.btn-block.disabled.add_shoping_box{:type =>'submit', :value=>'В корзину'}
