.row
  .span12
    .block_content.container
      .products_list{:style => "margin:0 20px;"}
        %h3
          Категории компании #{@company.name}
          %a.btn.btn-small{:href => new_admin_company_category_path(@company)}
            %i.icon-plus
            Добавить
        = paginate @categories
        %table.table.table-hover
          %thead
            %th #
            %th Название
            %th Описание
            %th
            %th Действия
          %tbody
            - if @categories
              - @categories.each do |category|
                %tr
                  %td= category.id
                  %td= category.name
                  %td= category.text
                  %td
                    %a.btn.btn-small{:href => admin_company_category_products_path(@company, category)} Товары
                  %td
                    %a{:href => edit_admin_company_category_path(@company, category)}
                      %i.icon-edit
                    %a{:href => admin_company_category_path(@company, category), :data => {:method => "delete", :confirm => "Действительно удалить категорию #{category.name}?"}}
                      %i.icon-remove

        = paginate @categories