= form_tag params[:id].to_i > 0 ? admin_company_product_path(@company, @product) : admin_company_products_path(@company), :method => params[:id].to_i > 0 ? "PUT" : "POST", :class => "form-horizontal", :multipart => true do
  - if flash[:notice]
    .alert.alert-success
      = flash[:notice]
  - if flash[:alert]
    .alert.alert-error
      = flash[:alert]
  .control-group
    %label.control-label{:for => "product_name"} Название
    .controls
      = text_field_tag "product[name]", @product.name
  .control-group
    %label.control-label{:for => "product_original"} Оригинальное название
    .controls
      = text_field_tag "product[original]", @product.original
  .control-group
    %label.control-label{:for => "product_name"} Раздел
    .controls
      =# text_field_tag "product[name]", @product.category_id
      = select_tag "product[category_id]", options_from_collection_for_select(Category.all, :id, :name, @product.category_id), :prompt => "Выберите категорию"
  .control-group
    %label.control-label{:for => "product_price"} Цена
    .controls
      = text_field_tag "product[price]", @product.price
  .control-group
    %label.control-label{:for => "product_old_price"} Старая цена
    .controls
      = text_field_tag "product[old_price]", @product.old_price
  .control-group
    %label.control-label{:for => "product_text"} Описание
    .controls
      = text_area_tag "product[text]", @product.text, :rows => 5
  .control-group
    %label.control-label Фотографии
    .controls
      = file_field_tag "product_photo[]", :multiple => true
      = hidden_field_tag "product_id", @product.id
  .control-group
    .controls
      %ul.thumbnails
        - if @product.photos
          - @product.photos.each do |p|
            %li.span2
              %a.thumbnail{:href => p.file.url, :target => "_blank"}
                = image_tag p.file(:s)
              %center
                %label.btn.btn-mini{:style => "margin: 5px 0 10px 0"}
                  %input{:type => "checkbox", :name => "product_photo_del[]", :value => p.id, :style => "margin:0;padding:0;"}
                  удалить
  .control-group
    %label.control-label Материалы
    .controls
      = hidden_field_tag "product[texture_ids][]", ''
      %table.table.table-condensed.table-hover
        - Texture.order("type_id asc").all.each do |t|
          %tr
            %td
              = check_box_tag "product[texture_ids][]", t.id, @product.textures.include?(t)
            %td
              = t.name
            %td
              #{t.type_id} категория
            %td
              %a{:href => t.photo.url}
                = image_tag t.photo.url(:s)



  .form-actions
    = submit_tag "Сохранить", :name => "save", :class => "btn btn-small btn-primary"
    = submit_tag "Применить", :name => "apply", :class => "btn btn-small btn-info"
    %a.btn.btn-small{:href => admin_company_products_path(@company)} Отменить