!!!
%html
  %head
    %title= yield(:title)
    %meta{:name => "description", :content => yield(:description)}
    %meta{:name => "keywords", :content => yield(:keywords)}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "admin"
  %body
    .container
      #top-bar.row
        .span4.logo
          %a{:href => "/"}
            Mebelsmart

        .span8.options
          %ul.nav.nav-pills.pull-right
            %li.active
              %a{:href => "#", :title => "Call me"} Заказать обратный звонок
            %li.pad
              |
            %li
              %a{:href => "call:+78008888888", :title => ""} 8 (800) 888 88-88
            - if user_signed_in?
              %li.pad
                |
              %li
                %span= current_user.email
                %span= link_to "выход", destroy_user_session_path, :method => "delete"

      #top_menu.row
        .span12

          #main-menu.navbar.navbar-inverse
            .navbar-inner
              .container
                .nav-collapse
                  = render "menu"
      .row
        .span12
          = render "breadcrumbs"

      = yield

      -#.block_content.container.dop_info_footer
        .products_list.text_block
          .row
            .span12
              %p
                =# @settings[:footer_text]

    .footer
      .container
        .row
          .span3
            %h4 Информация
            %ul
              %li
                %a{:href => "#"} О нас
              %li
                %a{:href => "#"} Информация о доставке
              %li
                %a{:href => "#"} Условия и соглашения
          .span3
            %h4 Наши разделы
            %ul
              %li
                %a{:href => "#"} Каталог
              %li
                %a{:href => "#"} Корзина
              %li
                %a{:href => "#"} Акции
              %li
                %a{:href => "#"} Контакты
          .span3.socseti
            %h4.logo-title Присоеденяйтесь к нам
            %a{:href => "#"}
              %img{:alt => "vk", :src => "/assets/vk.png"}/
            %a{:href => "#"}
              %img{:alt => "odnoklassniky", :src => "/assets/ok.png"}/
            %a{:href => "#"}
              %img{:alt => "facebook", :src => "/assets/facebook.png"}/
            %a{:href => "#"}
              %img{:alt => "twitter", :src => "/assets/twitter.png"}/
            %a{:href => "#"}
              %img{:alt => "google plus", :src => "/assets/gplus.png"}/
          .span3
            .company_info
              %h4.title
                %strong Mebelsmart.com
              %p
                Россия. Москва.
                %br
                  Красная площадь 1/21
                  %br
                    %i.icon-ok-circle
                    %a{:href => "call:+78008888888", :title => ""} 8 (800) 888 88-88





      .close_pop{:onclick => 'close_pop(this);'}
