!!!
%html
  %head
    %title Mebel
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container

      #top-bar.row
        .span4.logo
          %a{:href => "/"}
            Mebel<b>A</b>RT

        .span8.options
          %ul.nav.nav-pills.pull-right
            %li.active
              %a{:href => "#", :title => "Call me"} Заказать обратный звонок
            %li.pad
              |
            %li
              %a{:href => "call:+78008888888", :title => ""} 8 (800) 888 88-88
            %li.pad
              |
            %li
              .basket
                %a.scl{:href => "/basket"}
                  %i.icon-shopping-cart
                  Корзина
                  %span
                    (#{@order.cnt})
      #top_menu.row
        .span12

          #main-menu.navbar.navbar-inverse
            .navbar-inner
              .container
                .nav-collapse
                  %ul.nav
                    %li.active
                      %a{:href => "/"}
                        %i.icon-home

                    %li.dropdown
                      %a.dropdown-toggle{:href => "/catalog"}
                        Каталог
                        %b.caret
                      %ul.dropdown-menu
                        - Category.all.each do |c|
                          %li
                            %a{:href => "/catalog/#{c.id}"}= c.name
                    %li.dropdown
                      %a.dropdown-toggle{:href => "/specials"}
                        Акции и спецпредложения
                    %li.dropdown
                      %a.dropdown-toggle{:href => "/howto"}
                        Как заказать
                    -#%li.dropdown
                      %a.dropdown-toggle{:href => "/about"}
                        О нас
                    %li.dropdown
                      %a.dropdown-toggle{:href => "/contacts"}
                        Контакты

                    -#%li.shopping_cart_link.pull-right.hide
                      %a.scl{:href => "/basket"}
                        %i.icon-shopping-cart.icon-white
                        Корзина
                        %span
                          (#{!@basket.empty? ? @basket.baskets.count : 0})
                    %li.search_form.pull-right
                      %form.navbar-search{:method => "POST"}
                        %input.icon-search{:type => 'submit', :value => ""}
                        %input.input-medium.search-query{:placeholder => "Поиск...", :type => "text"}

      = yield
      .block_content.container.dop_info_footer
        .products_list.text_block
          .row
            .span12
              %p
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).

    .footer
      .container
        .row
          .span3
            %h4 Информация
            %ul
              %li
                %a{:href => "/about"} О нас
              %li
                %a{:href => "/howto"} Как заказать
              %li
                %a{:href => "/agreements"} Условия и соглашения
          .span3
            %h4 Наши разделы
            %ul
              %li
                %a{:href => "/catalog"} Каталог
              %li
                %a{:href => "/basket"} Корзина
              %li
                %a{:href => "/specials"} Акции и спецпоедложения
              %li
                %a{:href => "/contacts"} Контакты
          .span3.socseti
            %h4.logo-title Присоеденяйтесь к нам
            %a{:href => "#"}
              %img{:alt => "vk", :src => "/assets/vk.png"}/
            %a{:href => "#"}
              %img{:alt => "odnoklassniky", :src => "/assets/ok.png"}/
            %a{:href => "#"}
              %img{:alt => "facebook", :src => "/assets/facebook.png"}/
            %a{:href => "#"}
              %img{:alt => "twitter", :src => "/assets/twitter.png"}/
            %a{:href => "#"}
              %img{:alt => "google plus", :src => "/assets/gplus.png"}/
          .span3
            .company_info
              %h4.title
                %strong MebelSmart.com
              %p
                Россия. Москва.
                %br
                  Красная площадь 1/21
                  %br
                    %i.icon-ok-circle
                    %a{:href => 'call:+78008888888', :title => ''} 8 (800) 888 88-88
